.rete-container {
  width: 100%;
  height: calc(100vh - 50px); // Adjust this value based on your button's height
  overflow: hidden;
  position: relative;
}

.rete {
  width: 100%;
  height: 100%;
}
