/* preset-nodes-drawer.component.scss */
.preset-nodes-drawer {
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.preset-node {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  cursor: move;
  border-radius: 4px;
}
